%h1 Admin Managers
%table{:class => "table table-bordered"}
  %thead
    %tr 
      %th Title
      %th Description 
      %th Author
      %th Worker 
      %th Status
      %th End Date
  %tbody
    - @tasks.each do |task|
      - if !task.end_date.nil? && task.end_date < Date.today
        - tr_class = "danger"
      - else
        - tr_class = ""
      %tr{:class => tr_class} 
        %td 
          = task.title
        %td
          = task.description
        %td
          = task.author_id
        %td
          = task.user.first_name
        %td
          = task.state
        %td
          = task.end_date
= paginate @tasks
