%h1 Admin Managers
%table{:class => "table table-bordered"}
  %thead
    %tr 
      %th Title
      %th Description 
      %th Author
      %th Worker 
      %th Status
  %tbody
    - @tasks.each do |task|
      %tr 
        %td 
          = task.title
        %td
          = task.description
        %td
          = task.author_id
        %td
          = task.user.first_name
        %td
          = task.state
= paginate @tasks
