%h1= t(".log_in")
      
= simple_form_for(:session, url: sessions_path) do |f|
  = f.input :email, :placeholder => t("placeholder.session.email")
  = f.input :password, :placeholder => t("placeholder.session.password")
  = f.button :submit
