%h1= t(".signup")

= simple_form_for(@user, wrapper: :horizontal_form)  do |f|

  = f.input :first_name, placeholder: t("placeholder.user.first_name")

  = f.input :last_name, placeholder: t("placeholder.user.last_name")

  = f.input :email, placeholder: t("placeholder.user.email")

  = f.input :password, placeholder: t("placeholder.user.password")

  %p
    = f.button :submit
