= navbar do
  = navbar_header brand: 'My great app', brand_link: '/home'
  = navbar_collapse do
    = navbar_group class: 'foo', id: 'menu' do
      = navbar_text 'Pick an option:'
      = navbar_item "Home", '/'
      = navbar_item "About Us", '/about-us'
      - if current_user && current_user.manager?
        = navbar_item "Admin", '/admin'
      - else
        = navbar_item '/contact' do
          %span.glyphicon.glyphicon-hand-right
          Contact Us!
      = navbar_dropdown "Language" do
        = navbar_dropdown_header 'Change language!'
        = navbar_item "One", '/one'
        = navbar_item "Two", '/two'
        = navbar_item "Three", '/three'
        - if true # check if user is admin, maybe like "if current_user.try(:admin?)"
          = navbar_dropdown_divider
          = navbar_item "Admin Dashboard", '/admin'
          = navbar_item "Users", '/admin/users'
    = navbar_group align: 'right' do
      - if current_user # check if user is logged in, maybe like "if current_user.present?"
        = navbar_item "Log Out", '/logout'
      - else
        = navbar_item "Log In", '/login'
